# Editor
.vscode

# Data
**/*_dataset
**/sample_data
**/checkpoint-*
**/*.bin
**/*.zip
**/*.csv
notebooks/**/*.json
**/*.png
**/*.txt

# Testing Data
notebooks/slowfiles
notebooks/convert/*.interactive

# Temp Files
**/cached_*
**/.pytest_cache
notebooks/**/med.py
notebooks/**/normalized_textual_file.py
notebooks/*.txt

# modules
**/node_modules

# cache
**/__pycache__

# secrets
**/.env
