# Editor
.vscode

# Data
**/*_dataset
**/sample_data
**/checkpoint-*
**/*.bin
**/*.zip
**/*.csv
**/*.json

# Testing Data
notebooks/slowfiles
notebooks/convert/*.interactive

# Temp Files
**/cached_*
notebooks/med.py
notebooks/normalized_textual_file.py
notebooks/*.txt

# Notebooks
# Reason: We only use python notebooks with special comments
# that VS Code runs like notebooks

*.ipynb

# cache
**/__pycache__

# secrets
**/.env
